body {
  scroll-behavior: smooth;
  background-color: #333;
}

.navbar {
  z-index: 1;
}

.bg-color {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #444;
  position: relative;
  z-index: 0;
}

.content {
  margin-top: 1em;
}

.iframe-container {
  position: relative;
  width: 90%;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin: auto;
  max-width: 100%;
  height: 0;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
